
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
#profile-pic{
  width: 60%;
  border-radius: 10px;
}

.form-input{
  background-color: #191919;
}

/*Project*/
#projects img{
  width: 30%;
  border-radius: 15px;
  
}

#projects img:hover{
  width: 35%;
}

#projects a{
  display: flex;
  justify-content: center;
}

.theme {
  color: #15cdfc
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    background: #101010;
}

@media screen and (max-width: 1000px) {
  .about{
    height: 200vh;
  }
}

@media screen and (max-width: 460px) {
  .about{
    height: 300vh;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #101010;

}

.projectComp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  background: #101010;

}
