
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
#profile-pic{
  width: 60%;
  border-radius: 10px;
}

.form-input{
  background-color: #191919;
}


.theme {
  color: #15cdfc
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140vh;
  background: #101010;
}

@media screen and (max-width: 1000px) {
  .about{
    height: 180vh;
  }
}

@media screen and (max-width: 400px) {
  .about{
    height: 220vh;
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #101010;

}

.projectComp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  background: #101010;

}

/* Project */
.projectComp img{
  width: 70%;
  border-radius: 15px;
  
}

.projectComp img:hover{
  width: 75%;
}

.projectsContainer{
  width: 50%;
}


