
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}
#profile-pic{
  width: 60%;
  border-radius: 10px;
}

.form-input{
  background-color: #191919;
}

/*Project*/
#projects img{
  width: 30%;
  border-radius: 15px;
  
}

#projects img:hover{
  width: 35%;
}

#projects a{
  display: flex;
  justify-content: center;
}
